<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font01_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,100}</string>
                <key>spriteSourceSize</key>
                <string>{196,100}</string>
                <key>textureRect</key>
                <string>{{1,143},{196,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font02_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,100}</string>
                <key>spriteSourceSize</key>
                <string>{196,100}</string>
                <key>textureRect</key>
                <string>{{349,1},{196,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font03_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{816,177},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font04_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{781,210},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font05_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{249,219},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font06_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,51}</string>
                <key>spriteSourceSize</key>
                <string>{81,51}</string>
                <key>textureRect</key>
                <string>{{282,143},{81,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font07_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,6}</string>
                <key>spriteSourceSize</key>
                <string>{11,6}</string>
                <key>textureRect</key>
                <string>{{741,195},{11,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font08_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,25}</string>
                <key>spriteSourceSize</key>
                <string>{10,25}</string>
                <key>textureRect</key>
                <string>{{335,143},{10,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font09_i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,9}</string>
                <key>spriteSourceSize</key>
                <string>{12,9}</string>
                <key>textureRect</key>
                <string>{{884,100},{12,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font10_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{249,251},{4,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font11_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{615,230},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font12_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{894,227},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font13_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,344}</string>
                <key>spriteSourceSize</key>
                <string>{40,344}</string>
                <key>textureRect</key>
                <string>{{1,101},{40,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font14_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,195}</string>
                <key>spriteSourceSize</key>
                <string>{152,195}</string>
                <key>textureRect</key>
                <string>{{347,103},{152,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font15_o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{884,50},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font16_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{869,227},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font17_q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,11}</string>
                <key>spriteSourceSize</key>
                <string>{47,11}</string>
                <key>textureRect</key>
                <string>{{866,214},{47,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font18_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{866,163},{47,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font19_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{846,227},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font20_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{631,191},{36,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font21_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{114,128}</string>
                <key>textureRect</key>
                <string>{{547,1},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font22_v.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,98}</string>
                <key>spriteSourceSize</key>
                <string>{346,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font23_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,40}</string>
                <key>spriteSourceSize</key>
                <string>{113,40}</string>
                <key>textureRect</key>
                <string>{{677,1},{113,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font24_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{199,219},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font25_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{727,195},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font26_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,68}</string>
                <key>spriteSourceSize</key>
                <string>{75,68}</string>
                <key>textureRect</key>
                <string>{{753,50},{75,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font27_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{807,120},{55,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font28_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,52}</string>
                <key>textureRect</key>
                <string>{{727,210},{45,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font29_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{885,1},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font30_D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{862,111},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font31_E.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,74}</string>
                <key>spriteSourceSize</key>
                <string>{81,74}</string>
                <key>textureRect</key>
                <string>{{199,143},{81,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font32_F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{677,43},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font33_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{673,119},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font34_H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,91}</string>
                <key>spriteSourceSize</key>
                <string>{47,91}</string>
                <key>textureRect</key>
                <string>{{792,1},{47,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font35_I.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{59,52}</string>
                <key>textureRect</key>
                <string>{{830,50},{59,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font36_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,39}</string>
                <key>spriteSourceSize</key>
                <string>{111,39}</string>
                <key>textureRect</key>
                <string>{{590,117},{111,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font37_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,31}</string>
                <key>textureRect</key>
                <string>{{749,177},{65,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font38_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,20}</string>
                <key>spriteSourceSize</key>
                <string>{38,20}</string>
                <key>textureRect</key>
                <string>{{307,226},{38,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font39_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{814,227},{28,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font40_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{669,195},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font41_O.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{590,230},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font42_P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{281,226},{29,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font43_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,44}</string>
                <key>spriteSourceSize</key>
                <string>{138,44}</string>
                <key>textureRect</key>
                <string>{{544,117},{138,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font44_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,40}</string>
                <key>textureRect</key>
                <string>{{631,117},{72,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font45_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{749,120},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-gameout1.png</string>
            <key>size</key>
            <string>{925,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b2f9be2247e533c1a67c8e48c39e4f0:b49f119b9cb3f3b5bc07b1a07408b7f9:45838756685e889f8bb76a27db474f1a$</string>
            <key>textureFileName</key>
            <string>ui-gameout1.png</string>
        </dict>
    </dict>
</plist>
