<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font01_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{156,154}</string>
                <key>textureRect</key>
                <string>{{564,1},{156,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font02_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,155}</string>
                <key>spriteSourceSize</key>
                <string>{150,155}</string>
                <key>textureRect</key>
                <string>{{720,1},{150,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font03_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{226,232},{32,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font04_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{138,384},{62,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font05_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{877,313},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font06_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{877,281},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font07_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{910,281},{31,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font08_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,43}</string>
                <key>spriteSourceSize</key>
                <string>{16,43}</string>
                <key>textureRect</key>
                <string>{{331,384},{16,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font09_i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,64}</string>
                <key>spriteSourceSize</key>
                <string>{266,64}</string>
                <key>textureRect</key>
                <string>{{112,1},{266,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font10_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,141}</string>
                <key>spriteSourceSize</key>
                <string>{38,141}</string>
                <key>textureRect</key>
                <string>{{800,364},{38,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font11_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,159}</string>
                <key>spriteSourceSize</key>
                <string>{155,159}</string>
                <key>textureRect</key>
                <string>{{407,1},{155,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font12_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,62}</string>
                <key>spriteSourceSize</key>
                <string>{224,62}</string>
                <key>textureRect</key>
                <string>{{123,449},{224,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font13_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,105}</string>
                <key>spriteSourceSize</key>
                <string>{100,105}</string>
                <key>textureRect</key>
                <string>{{371,165},{100,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font14_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,94}</string>
                <key>spriteSourceSize</key>
                <string>{73,94}</string>
                <key>textureRect</key>
                <string>{{768,158},{73,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font15_o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,64}</string>
                <key>spriteSourceSize</key>
                <string>{229,64}</string>
                <key>textureRect</key>
                <string>{{178,1},{229,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font16_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{178,232},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font17_q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,113}</string>
                <key>spriteSourceSize</key>
                <string>{195,113}</string>
                <key>textureRect</key>
                <string>{{112,269},{195,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font18_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{652,364},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font19_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,98}</string>
                <key>spriteSourceSize</key>
                <string>{108,98}</string>
                <key>textureRect</key>
                <string>{{478,162},{108,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font20_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{793,281},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font21_u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{588,159},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font22_v.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,104}</string>
                <key>spriteSourceSize</key>
                <string>{56,104}</string>
                <key>textureRect</key>
                <string>{{735,255},{56,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font23_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,58}</string>
                <key>textureRect</key>
                <string>{{170,384},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font24_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{93,92}</string>
                <key>textureRect</key>
                <string>{{840,364},{93,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font25_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,104}</string>
                <key>spriteSourceSize</key>
                <string>{113,104}</string>
                <key>textureRect</key>
                <string>{{309,269},{113,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font26_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,102}</string>
                <key>textureRect</key>
                <string>{{257,165},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font27_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{415,267},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font28_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,4}</string>
                <key>spriteSourceSize</key>
                <string>{41,4}</string>
                <key>textureRect</key>
                <string>{{527,374},{41,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font29_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{83,394},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font30_D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,68}</string>
                <key>spriteSourceSize</key>
                <string>{152,68}</string>
                <key>textureRect</key>
                <string>{{872,1},{152,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font31_E.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{527,262},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font32_F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{1,451},{120,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font33_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,64}</string>
                <key>spriteSourceSize</key>
                <string>{124,64}</string>
                <key>textureRect</key>
                <string>{{872,155},{124,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font34_H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,80}</string>
                <key>spriteSourceSize</key>
                <string>{133,80}</string>
                <key>textureRect</key>
                <string>{{570,374},{133,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font35_I.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,126}</string>
                <key>spriteSourceSize</key>
                <string>{64,126}</string>
                <key>textureRect</key>
                <string>{{455,380},{64,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font36_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,36}</string>
                <key>spriteSourceSize</key>
                <string>{85,36}</string>
                <key>textureRect</key>
                <string>{{840,458},{85,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font37_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,31}</string>
                <key>spriteSourceSize</key>
                <string>{10,31}</string>
                <key>textureRect</key>
                <string>{{244,165},{10,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font38_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,15}</string>
                <key>spriteSourceSize</key>
                <string>{10,15}</string>
                <key>textureRect</key>
                <string>{{244,198},{10,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font39_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,15}</string>
                <key>spriteSourceSize</key>
                <string>{8,15}</string>
                <key>textureRect</key>
                <string>{{112,384},{8,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font40_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{544,380},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font41_O.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,21}</string>
                <key>spriteSourceSize</key>
                <string>{126,21}</string>
                <key>textureRect</key>
                <string>{{521,380},{126,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font42_P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,162}</string>
                <key>spriteSourceSize</key>
                <string>{161,162}</string>
                <key>textureRect</key>
                <string>{{244,1},{161,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font43_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{544,396},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font44_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{544,412},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font45_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{126,104}</string>
                <key>textureRect</key>
                <string>{{349,384},{126,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font46_T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{94,104}</string>
                <key>textureRect</key>
                <string>{{639,258},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font47_U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{673,159},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font48_V.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,24}</string>
                <key>spriteSourceSize</key>
                <string>{13,24}</string>
                <key>textureRect</key>
                <string>{{544,428},{13,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font49_W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,24}</string>
                <key>spriteSourceSize</key>
                <string>{13,24}</string>
                <key>textureRect</key>
                <string>{{544,443},{13,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font50_X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,27}</string>
                <key>spriteSourceSize</key>
                <string>{391,27}</string>
                <key>textureRect</key>
                <string>{{83,1},{391,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font51_Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,80}</string>
                <key>spriteSourceSize</key>
                <string>{448,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font52_Z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,57}</string>
                <key>spriteSourceSize</key>
                <string>{58,57}</string>
                <key>textureRect</key>
                <string>{{272,384},{58,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-game-n.png</string>
            <key>size</key>
            <string>{941,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3ac1e1e696f93dff58ce28458f44ae8:ee7f540f48e5746da3ecdf0bf3e4d6bd:27eaf1db9c265782b12e1fe490e554cb$</string>
            <key>textureFileName</key>
            <string>ui-game-n.png</string>
        </dict>
    </dict>
</plist>
