<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font15_o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,94}</string>
                <key>spriteSourceSize</key>
                <string>{191,94}</string>
                <key>textureRect</key>
                <string>{{1,262},{191,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font34_H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,53}</string>
                <key>spriteSourceSize</key>
                <string>{75,53}</string>
                <key>textureRect</key>
                <string>{{342,1},{75,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font39_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,115}</string>
                <key>spriteSourceSize</key>
                <string>{175,115}</string>
                <key>textureRect</key>
                <string>{{270,262},{175,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font40_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,259}</string>
                <key>spriteSourceSize</key>
                <string>{339,259}</string>
                <key>textureRect</key>
                <string>{{1,1},{339,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font42_P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,171}</string>
                <key>spriteSourceSize</key>
                <string>{187,171}</string>
                <key>textureRect</key>
                <string>{{97,262},{187,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang.png</string>
            <key>size</key>
            <string>{396,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a228d96df472fd35bb2d5e06a768fcc8:5a7a2858bec4fc8c44c8e88c4a0e1945:5c1deeca6eaf2d77cfb862a27facb19a$</string>
            <key>textureFileName</key>
            <string>baoxiang.png</string>
        </dict>
    </dict>
</plist>
