<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,140}</string>
                <key>spriteSourceSize</key>
                <string>{184,140}</string>
                <key>textureRect</key>
                <string>{{779,1},{184,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collectgems.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,109}</string>
                <key>spriteSourceSize</key>
                <string>{624,109}</string>
                <key>textureRect</key>
                <string>{{1,195},{624,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hi-score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,102}</string>
                <key>spriteSourceSize</key>
                <string>{520,102}</string>
                <key>textureRect</key>
                <string>{{1,408},{520,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{776,95}</string>
                <key>spriteSourceSize</key>
                <string>{776,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{776,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{643,95}</string>
                <key>spriteSourceSize</key>
                <string>{643,95}</string>
                <key>textureRect</key>
                <string>{{1,98},{643,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,43}</string>
                <key>spriteSourceSize</key>
                <string>{109,43}</string>
                <key>textureRect</key>
                <string>{{646,98},{109,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paused.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,94}</string>
                <key>spriteSourceSize</key>
                <string>{347,94}</string>
                <key>textureRect</key>
                <string>{{646,143},{347,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,134}</string>
                <key>spriteSourceSize</key>
                <string>{455,134}</string>
                <key>textureRect</key>
                <string>{{538,314},{455,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,96}</string>
                <key>spriteSourceSize</key>
                <string>{252,96}</string>
                <key>textureRect</key>
                <string>{{523,450},{252,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,45}</string>
                <key>spriteSourceSize</key>
                <string>{148,45}</string>
                <key>textureRect</key>
                <string>{{777,450},{148,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrades.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,100}</string>
                <key>spriteSourceSize</key>
                <string>{535,100}</string>
                <key>textureRect</key>
                <string>{{1,306},{535,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,73}</string>
                <key>spriteSourceSize</key>
                <string>{356,73}</string>
                <key>textureRect</key>
                <string>{{627,239},{356,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headline.png</string>
            <key>size</key>
            <string>{994,547}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:867e239a23f9d639080da3dd71ce6539:52f8f222774dea28286a821d5947a0b1:91cf5f74bedbe86f9eb8d68787fffbc8$</string>
            <key>textureFileName</key>
            <string>headline.png</string>
        </dict>
    </dict>
</plist>
